<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Suitability</title>
    <script scr="./angular/angular.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <script type="text/javascript">
    let Api = axios.create({
      baseUrl: `https://dev-api.oiwarren.com/api/v2/`
    })

    let init = {
      "context": "suitability",
      "id" : "initial",
      "answers" : {

      }
    }
    let response = Api.post(`https://dev-api.oiwarren.com/api/v2/conversation/message`,init)

    response.then(res => console.log(res.data.id))
  </script>
  <body>
    Hello World
  </body>
</html>
